* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4ecf7;
}
.center {
  position: absolute;
  top: 8%;
  left: 25%;
}
.container {
  border-radius: 10px;
  height: 500px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-div {
  background-color: #f5eef8;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.selection-block {
  height: 98px;
  width: 98px;
  border: 1px solid #f5eef8;
}
.selection-block button {
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  color: blueviolet;
}
.selection-block button:hover {
  background-color: lightblue;
}
.player-check-div {
  height: 10%;
  width: 100%;
  display: flex;
}
.player-0-div,
.player-1-div {
  width: 100%;
  background-color: lightgray;
  border: 1px solid gray;
  color: gray;
  font-size: 20px;
  text-align: center;
}
.start-again {
  width: 30%;
}
#start-again-btn {
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  background-color: blueviolet;
  cursor: pointer;
}
#start-again-btn:hover {
  font-size: 16px;
}
.active {
  background-color: lightgreen;
  color: green;
  border: 1px solid green;
}
.selection-done {
  font-size: 30px;
  background-color: lightgray;
  pointer-events: none;
}
.hidden {
  display: none;
}
.win-color {
  background-color: greenyellow;
}

.alert-tile {
  height: 20%;
  width: 40%;
  border: 1px solid red;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 2;
  text-align: center;
  align-content: center;
  background-color: brown;
  color: wheat;
  font-size: 45px;
}
.win-tile {
  height: 20%;
  border: 1px solid green;
  background-color: lightgreen;
  color: green;
  align-content: center;
}
.alert-overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 250px) and (max-width: 576px) {
  .center {
    top: 2%;
    left: 10%;
  }
  .container {
    width: 80%;
  }
  .block-div {
    background-color: white;
    height: 246px;
    width: 246px;
  }
  .selection-block {
    height: 80px;
    width: 80px;
    border: 1px solid lightcyan;
  }
  .start-again {
    width: 40%;
  }
  #start-again-btn {
    font-size: 10px;
    padding: 5px;
  }
  .player-0-div,
  .player-1-div {
    font-size: 12px;
  }
  .alert-tile {
    width: 40%;
    font-size: 25px;
    padding: 5px;
  }
  .player-check-div {
    flex-direction: column;
  }
  .start-again,
  .player-0-div,
  .player-1-div {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .center {
    top: 2%;
    left: 10%;
  }
  .container {
    width: 80%;
  }
  .block-div {
    background-color: white;
    height: 246px;
    width: 246px;
  }
  .selection-block {
    height: 80px;
    width: 80px;
    border: 1px solid lightcyan;
  }

  #start-again-btn {
    font-size: 10px;
    padding: 5px;
  }
  .player-0-div,
  .player-1-div {
    font-size: 12px;
    padding: 4px;
  }
  .alert-tile {
    height: 5%;
    width: 40%;
    font-size: 25px;
    padding: 5px;
  }
}
